* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.header-box {
    margin-top: 2em;
    margin-bottom: 2em;
    display: flex;
    justify-content: center;
    gap: 4em
}
.box1 {
    background-color: gray;
    width: 80%;
    height: 4em;
    border: black 2px solid;
}
.main-box {
    margin-top: 3em;
    margin-bottom: 3em;
    display: flex;
    justify-content: center;
    gap: 3em;
}
.main-box .box2 {
    background-color: rgb(201, 199, 199);
    width: 10em;
    height: 8em;
    border: black 2px solid;
}
.main-box {
    margin-top: 3em;
    margin-bottom: 3em;
    display: flex;
    justify-content: center;
    gap: 3em;
}
.main-box .box3 {
    background-color: rgb(153, 152, 152);
    width: 50em;
    height: 8em;
    border: black 2px solid;
}